.login{
    background-image: url("../images/cyber-security.jpg"); /* Path to your image */
    background-size: cover;  /* Cover the whole page */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  /* Full-screen height */
}

.blue-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(71deg, rgba(255,255,255,1) 55%, rgba(0,92,170,1) 100%);
}

.login-container{
    height: 5vh;
}

.kwelogo{
    padding-top:20px;
    margin-left:320px;
    width:327px;
}

.systemlogo {
    text-align:left;
    margin-left:77px;
    padding-top:10px;
    width: 400px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    /* background-color: #f0f2f5; */
}

/* Styling the card */
.login-card {
    background: #323232;
    opacity: .89;
    padding:25px;
    border-radius: 25px;
    width:500px !important;
    max-height:350px;   
}

.login-title {
    text-align: center !important;
    color: #FFF !important; 
    letter-spacing: 0.7px;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon-box {
    background-color: red;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.input-icon {
    color: white;
    font-size: 32px;
}

.custom-input {
    flex: 1;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    width:270px;
}


.button-container {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically (if parent has height) */
    margin-top: 20px;
}

.login-button {
    border-radius: 50px !important;
    width: 150px !important;
    height: 40px;
    letter-spacing: 0.9px !important;
    font-weight:600;
    background-color: red;
    border: 1px #FFF solid;
    color: #FFF;
}

.login-button:hover {
    background-color: red !important;
    border: 1px red solid !important;
    color: #FFF !important;

}